.abtme-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
}

.card-abtme{
    margin-top: 100px;
    height: 300px;
}


.background {
    background-image: url("../images/fruit-background.png");
    background-repeat: no-repeat;
    background-size: 1800px;
    height: 1000px;
    padding-top: 100px;
    
  }

.words {
   text-align: left;
}


.story-card{
    padding-bottom: 20px;
    margin: 10px;
    height: 500px;
}
.tilt-card{
    transform-style: preserve-3d;
    max-width: 400px;
    /* height: 300px; */
    /* margin-left: 200px; */
    
}
