.space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    
}

.card-intro {
    /* margin-left: 30px; */
    margin-top: 30px
}

.card-fun {
    /* margin-left: 30px; */
    margin-top: 30px
}

.background {
    background-image: url("../fruit-background.png");
    background-repeat: no-repeat;
    background-size: 1800px;
    height: 1000px;
    padding-top: 100px;
    
  }