.space {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    justify-content: space-around; */
    
}

.card-intro {
   
    margin-top: 100px
}

.card-fun {
   
    margin-top: 100px
}

.background {
    background-image: url("../images/fruit-background.png");
    background-repeat: no-repeat;
    background-size: 1800px;
    height: 1000px;
    padding-top: 100px;
    
  }