
.space {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    margin: 100px;
    /* padding-left: 140px;
    padding-right: 140px; */
    
}

.story-card{
    margin: 10px;
    height: 300px;
    margin-bottom: 50px;
}
.tilt-card{
    transform-style: preserve-3d;
    max-width: 500px;
    margin: 0 auto;
    
}

/* .story-card.card1:hover{
    background-image: url("../images/kiosk.png");
    background-size: 430px;
    background-repeat: no-repeat;
    background-position: center;
    transition: color 0.001s;
    color: transparent;
}

.story-card.card2:hover{
    background-image: url("../images/roomkast.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    transition: color 0.001s;
    color: transparent;
}

.story-card.card3:hover{
    background-image: url("../images/redesigned.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    transition: color 0.001s;
    color: transparent;
}

.story-card.card4:hover{
    background-image: url("../images/myanime.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    transition: color 0.001s;
    color: transparent;
} */